In [1]:
%load_ext sql

%sql mysql+pymysql://root:@localhost/chocolates #connecting to db names chocolates running on local mysql server

0 rows affected.

[]

In [4]:
%%sql
#select into clause. Modified for MariaDB syntax
#used to make a copy of the existing table

CREATE TABLE NEW_SALES AS
SELECT
    SPID,
    GEOID,
    PID,
    SALEDATE
FROM
    SALES
WHERE
    SALEDATE BETWEEN '2021-01-01' AND '2021-12-31';

 * mysql+pymysql://root:***@localhost/chocolates
5997 rows affected.

[]

In [8]:
%%sql
#INSERT into clause. 
#used to copy data to a existing table existing table

TRUNCATE NEW_SALES ;

 * mysql+pymysql://root:***@localhost/chocolates
0 rows affected.

[]

In [9]:
%%sql
#INSERT into clause. 
#used to copy data to a existing table existing table

INSERT INTO NEW_SALES (SPID, GEOID, PID, SALEDATE)
SELECT SPID, GEOID, PID, SALEDATE
FROM SALES
WHERE SALEDATE BETWEEN '2021-01-01' AND '2021-12-31';

 * mysql+pymysql://root:***@localhost/chocolates
5997 rows affected.

[]

In [16]:
%%sql
#index optimizes queries, resulting in faster execution times
CREATE INDEX idx_salesdate
ON SALES (SALEDATE);

 * mysql+pymysql://root:***@localhost/chocolates
0 rows affected.

[]

In [17]:
%%sql
#UPDATE CLAUSE
UPDATE PEOPLE
SET TEAM = NULLIF(TEAM, '');

 * mysql+pymysql://root:***@localhost/chocolates
33 rows affected.

[]

In [20]:
%%sql
#ALTER CLAUSE
ALTER TABLE SALES
ADD COLUMN REVENUE INT AS (AMOUNT * BOXES) STORED;

 * mysql+pymysql://root:***@localhost/chocolates
7617 rows affected.

[]

In [21]:
%%sql

 * mysql+pymysql://root:***@localhost/chocolates
10 rows affected.

[('SP01', 'G4', 'P04', datetime.datetime(2021, 1, 1, 0, 0), 8414, 276, 495, 4164930),
 ('SP02', 'G3', 'P14', datetime.datetime(2021, 1, 1, 0, 0), 532, 317, 54, 28728),
 ('SP12', 'G2', 'P08', datetime.datetime(2021, 1, 1, 0, 0), 5376, 178, 269, 1446144),
 ('SP01', 'G4', 'P15', datetime.datetime(2021, 1, 1, 0, 0), 259, 32, 22, 5698),
 ('SP19', 'G2', 'P18', datetime.datetime(2021, 1, 1, 0, 0), 5530, 4, 179, 989870),
 ('SP17', 'G1', 'P13', datetime.datetime(2021, 1, 1, 0, 0), 2184, 63, 122, 266448),
 ('SP20', 'G6', 'P04', datetime.datetime(2021, 1, 1, 0, 0), 1057, 295, 71, 75047),
 ('SP14', 'G5', 'P16', datetime.datetime(2021, 1, 1, 0, 0), 1036, 370, 37, 38332),
 ('SP10', 'G5', 'P17', datetime.datetime(2021, 1, 1, 0, 0), 4039, 536, 176, 710864),
 ('SP06', 'G4', 'P01', datetime.datetime(2021, 1, 1, 0, 0), 12894, 115, 478, 6163332)]